<h1>Alta de Platillo</h1>
<form class="api/user/form" action="index.html" method="put">
  <input type="text" name="id" >
  <input type="text" name="name" >
  <input type="text" name="price" >
  <input type="text" name="image url" >
  <input type="button"  value="Guardar">
</form>
